.Joke{
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #BBBBBB;
    margin: 10px;
    box-sizing: border-box;
}


.Joke > h2{
    font-weight: bold;
    margin-bottom: 5px;  
}

.Joke > p{

}
  
  /* .task-checkbox {
    float: left;
    margin-right: 10px;
  }
   */